body{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
}

.models{
    display: flex;
    flex-direction: column;
}

.element{
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}

.element p{
    text-align: center;
}

.element input{
    border-radius: 10px;
    width: 70px;
    outline: none;
}

[class*="model-"]{
    display: flex;
    flex-direction: row;
    justify-content: center;

    border: 0.7px solid black;
    border-radius: 10px;

    margin: 10px 0px;
    padding: 5px;
    width: 350px;
}

#canvas{
    /*width: 200px;
    height: 200px;*/
    border: 0.7px solid black;
    border-radius: 10px;
    align-self: flex-end;
    margin: 5px 50px 10px 50px;
}

.pallette{
    display: flex;
    flex-direction: column;
    border: 0.7px solid black;
    width: 150px;
    margin: 10px 50px 5px 50px;
    border-radius: 10px;
}

.pallette p{
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0px;
}

.colors{
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    flex-direction: row;
    padding: 3px 20%;
}

[class*="color-"]{
    width: 15px;
    height: 15px;
    border: 0.7px solid black;
    margin: 3px 3px;
}

.canvasPallette{
    display: flex;
    flex-direction: column;
}